/* Minimal CSS Reset */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #0e1515;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Generic Utility Class */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Shared parent styles */
.gallery-block,
.cards-block {
  padding: 120px 36px;
  color: #fff;
  max-width: 1146px;
  margin: 0 auto;
}

/* Media Queries */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .gallery-block,
  .cards-block {
    padding: 60px 36px;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .gallery-block,
  .cards-block {
    padding: 80px 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .gallery-block,
  .cards-block {
    padding: 80px 48px;
  }
}
